/* CSS to fix unwanted horizontal scroll */

body {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}


/* Optional: Resetting universal box-sizing to ensure padding doesn't affect width */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif, 'arial';
}


/* Default navbar background */

.back-video {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header_c {
    background-color: #009999;
}

.header {
    /* background-image: url(../img/photo-1.jpeg); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.navbar-nav {
    margin-left: 200px;
}

.navbar-nav li {
    margin-left: 10px;
    padding: 1px;
}

.nav_icon {
    margin-left: 0px;
}

.nav-link {
    color: #fff;
}

.inp {
    outline: none;
    border: none;
}

.inp::placeholder {
    color: #fff;
}


/* search */


/* HERO */

.hero_container {
    width: 100%;
    margin-top: 50px;
    padding: 200px 200px;
}

.hero_content {
    /* background-color: rgba(0, 0, 0, 0.322); */
    border-radius: 20px;
    padding-bottom: 10px;
    color: #fff;
}

.hero-section h1 {
    font-weight: bold;
}


/* slide */

.slide_img {
    height: 500px;
}


/* NEWSLETTER */

.newsletter-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}


/* footer */

.footder {
    height: auto;
}

.footer_o {
    margin-left: 50px;
}

.footer_1 {
    display: block;
    width: 300px;
}

.footer_2 {
    margin-top: 100px;
    margin-left: 600px;
}


/*Navbar Background*/

.navbara {
    transition: background-color 0.9s ease;
    background: rgba(88, 54, 2, 0.507) !important;
}


/* card-img-top */

.c-i-t {
    border-radius: ;
    border: 1px solid #000000;
}

.custoum-card {
    background-color: rgba(121, 85, 9, 0.432);
}

.card {
    transition: all 0.3s ease
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Deeper shadow */
    color: black;
    /* Change text color on hover */
    transform: translateY(-5px);
    /* Slight lift effect */
    background-color: rgba(26, 150, 167, 0.411);
}

.card_style {
    border-radius: 20px 0px;
}


/* gallery */

.gallery_01 {
    text-align: center;
}

.gallery_02 {
    display: flex;
    justify-content: space-between;
}

.gallery_03 {
    margin: 10px;
}

.gallery_img-1 {
    width: 350px;
    border-radius: 20px 0px;
    border: 5px solid #009999;
}

.gallery_img-2 {
    width: 550px;
    height: 450px;
    border-radius: 20px 0px;
    border: 5px solid #009999;
}


/* about */

.about_one {
    width: 15px;
    height: 15px;
    margin-left: -33px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 5px solid rgba(149, 149, 163, 0.336);
}

.about_two {
    position: relative;
    top: -24px;
}

.siteber-2 {
    width: 200px;
    margin-top: 50px;
}

.manu {
    margin-left: 300px;
    margin-top: 50px;
    width: 75%;
    height: auto;
}


/* foqs */

.foqs_div {
    display: flex;
    justify-content: center;
}

.fq-01 {
    width: 500px;
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    .navbar-nav {
        margin-left: 80px;
    }
    .hero_container {
        width: 100%;
        padding: 0px 200px;
    }
    .footer_2 {
        margin-top: 40px;
        margin-left: 350px;
    }
    .gallery_img-1 {
        width: 285px;
    }
    .gallery_img-2 {
        width: 545px;
        height: 367px;
    }
}

@media screen and (max-width: 992px) {
    .nav_icon {
        margin-left: 0px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .footer_1 {
        display: block;
        width: 300px;
    }
    .hero_container {
        padding-top: 20PX;
        padding: 0px 10PX;
    }
    .footer_2 {
        margin-top: 60px;
        margin-left: 230px;
    }
    .footer_o {
        margin-left: 10px;
    }
    .foqs_div {
        display: block;
        width: auto;
    }
    .gallery_img-1 {
        width: 235px;
    }
    .gallery_img-2 {
        width: 435px;
        height: 300px;
    }
    .slide {
        width: auto;
        height: 350px;
    }
    .slide_img {
        height: 360px;
    }
}

@media screen and (max-width: 767px) {
    .back-video {
        position: absolute;
        background-color: rgb(5, 5, 58);
        width: 100%;
        height: 600px;
        top: -50px;
        left: 0;
        right: 0;
        bottom: 0px;
        justify-content: space-between;
    }
    .body_home {
        align-items: center;
        justify-content: space-between;
    }
    .footer_2 {
        margin-top: 40px;
        margin-left: 10px;
    }
    .gallery_02 {
        display: inline-block;
    }
    .gallery_img-1 {
        max-width: 250px;
    }
    .gallery_img-2 {
        max-width: 235px;
        height: auto;
    }
    .foqs_div {
        width: auto;
        justify-content: center;
    }
    .fq-01 {
        width: 400px;
        margin: 10px;
    }
    .siteber-2 {
        margin-top: 30px;
        display: flex;
        position: absolute;
        left: 130px;
        text-align: center;
        justify-content: center;
    }
    .manu {
        justify-content: center;
        margin-left: 0px;
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
    .slide {
        width: auto;
        height: 260px;
    }
    .slide_img {
        height: 260px;
    }
}

@media screen and (max-width: 320px) {
    .footer_2 {
        margin-top: 40px;
        margin-left: 10px;
    }
    .slide {
        width: 218px;
        height: 200px;
    }
    .slide_img {
        height: 200px;
    }
    .foqs_div {
        width: auto;
        justify-content: center;
    }
    .fq-01 {
        width: 220px;
        margin: 10px;
    }
}